@font-face {
    font-family: "Mont";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Robo";
    src: url(../fonts/Roboto.ttf);
}
@font-face {
    font-family: "comf";
    src: url(../fonts/Comfortaa.ttf);
}
*{
    padding: 0;
    margin: 0;
}

/*header*/
.header{
    height: 335px;
    background-image: url("../images/2_page/header/BG.png");
}
.header_main{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.header_main ul{
    display: flex;
    list-style: none;
    margin-top: 6px;
}
.header_main a{
    text-decoration: none;
    font-size: 20px;
    font-family: "mont";
    color: white;
    margin: 20px;
}
.header_login{
    display: flex;
}
.header_login div{
    font-size: 13.42px;
    font-family: "mont";
    color: white;
    margin-right: 35px;
    margin-top: 9px;
}
.header_login button{
    width: 132px;
    height: 36px;
    border-style: none;
    border-radius: 15px;
}
/*SEC1*/
.section1{
}
.section1 div{
    text-align: center;
}
.sec1_text1{
    font-size: 72px;
    font-family: "robo";
    font-weight: bold;
    color: #3B668D;
    letter-spacing: 20px;
}
.sec1_text2{
    font-size: 24px;
    font-family: "mont";
    color: #3B668D;
    letter-spacing: 20px;
    margin-bottom: 100px;
}




/*SEC3*/
.section3{
    background-image: url("../images/2_page/3_section/Statspanel.png");
    height: 261.36px;
    text-align: center;
    margin-top: 500px;
}
.sec3_main{
    margin: auto;
    display: flex;
    max-width: 65%;
    justify-content: space-between;
}
.sec3_comp{
    display: flex;
    margin-top: 70px;
}
.comp1{
    font-size: 42px;
    font-family: "comf";
    font-weight: bold;
    color: #425B8C;
    text-align: left;
    margin-bottom: 4px;
}
.comp2{
    font-size: 20px;
    font-family: "comf";
    color: #718DC2;
    text-align: left;
}
.comp_text{
    width: 467px;
    margin-left: 40px;
    margin-top: 15px;
}
/*FOOTER*/
.footer{
    background-image: url("../images/2_page/footer/BG.png");
    height: 1085.9px;
    margin-top: 200px;
}
.footer_main{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content:space-between;
    padding-top: 500px;
}
.foot_column{
    width: 422.5px;
    height: 283px;
}
.column_text1{
    font-size: 48px;
    font-family: "comf";
    color: white;
    margin-bottom: 50px;
}
.column_text2{
    font-size: 20px;
    font-family: "comf";
    color: white;
}
.column_text2 ul{
    list-style: none;
}
.column_text2 li{
    margin-bottom: 20px;
}
.column_text2 a{
    color: white;
}
.column_text2 div{
    margin-bottom: 20px;
}
.line {
    border-bottom: 1px solid #FFFFFF;
    border-right-width: 2px;
    max-width: 80%;
    margin: auto;
    margin-top: 150px;
}
.footer_text{
    font-size: 24px;
    font-family: "comf";
    margin-top: 60px;
    color: white;
    text-align: center;
}